#cntner{
  display: flex;
}

@media screen and (max-width: 1000px) {
  #cntner {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: 0;
   
  }
}

html,body{
  overscroll-behavior: auto;
  background: var(--color-bg-header);
}